<!-- New Workout Screen -->
<ion-view title="New Workout" ng-controller="NewWorkCtrl as work">
    <ion-content padding="true" class="has-header">
        <section class="main">
            <form class="new-move" ng-submit="work.addWork(work.workout)" name="new">
                <div class="new-moves list" ng-repeat="move in work.workout" >
                    <label class="item item-input">
                        <input class="form-control" ng-model="move.name" type="text" list="moving" placeholder="Select Movement" autocomplete="on" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" class="form-control" ng-model="move.reps" placeholder="Reps" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" class="form-control" ng-model="move.rds"  placeholder="Rounds" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" class="form-control" ng-model="move.weight" placeholder="Weight">
                    </label>
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button id="delete-move" class="button button-assertive ion ion-trash-a" ng-click="work.delete(move)"></button>
                            </span>
                    </div>
                        <input type="text" ng-hide="true" ng-model="move.moveNumber"><br>
                </div>
                <div class="add-save">
                    <input type="button" class="add-move-btn" value="Add Movement" ng-click="work.addMove()"><br>
                    <input type="submit" class="save-btn" value="Save Workout" ng-hide="work.disable()">
                </div>
            </form>
            <datalist id="moving">
                <option data-ng-repeat="moves in work.moveList.movements" value="{{moves.name}}"></option>
            </datalist>
            <datalist id="naming">
                <option data-ng-repeat="name in work.namedList.named" value="{{name.namedWork}}"></option>
            </datalist><br>
        </section>
    </ion-content>
</ion-view>
